{# Shared Help Dropdown Component
   Include this in your navbar for documentation and support
   Usage: {% include '_help_dropdown.html' %}
#}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="helpDropdown" role="button" data-bs-toggle="dropdown">
        Help
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="helpDropdown">
        <li><a class="dropdown-item" href="/requirements">Requirements & Setup</a></li>
        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#helpModal">Instructions & Tips</a></li>
        <li><a class="dropdown-item" href="/faq">FAQ</a></li>
    </ul>
</li>
