{# Shared Settings Dropdown Component
   Include this in your navbar for configuration options
   Usage: {% include '_settings_dropdown.html' %}
   The current_page variable should be set in the template or passed from the route
#}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="settingsDropdown" role="button" data-bs-toggle="dropdown">
        Settings
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingsDropdown">
        {# Configuration #}
        <li><a class="dropdown-item" href="/setup">Setup Wizard</a></li>
        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#credentialsModal">ESA Credentials</a></li>
        <li><hr class="dropdown-divider"></li>

        {# Logs & Diagnostics #}
        {% if current_page != 'manage_logs' %}
            <li><a class="dropdown-item" href="/manage-logs">Automation Logs</a></li>
        {% endif %}
    </ul>
</li>
