{# Shared Settings Dropdown Component
   Include this in your navbar to avoid duplication
   Usage: {% include '_settings_dropdown.html' %}
   The current_page variable should be set in the template or passed from the route
#}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="settingsDropdown" role="button" data-bs-toggle="dropdown">
        Settings
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingsDropdown">
        <li><a class="dropdown-item" href="/setup">Setup Wizard</a></li>
        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#credentialsModal">ESA Credentials</a></li>
        <li><hr class="dropdown-divider"></li>

        {# Menu items - automatically exclude the current page #}
        {% if current_page != 'manage_students' %}
            <li><a class="dropdown-item" href="/manage-students">Manage Students</a></li>
        {% endif %}

        {% if current_page != 'manage_vendors' %}
            <li><a class="dropdown-item" href="/manage-vendors">Manage Vendors</a></li>
        {% endif %}

        {% if current_page != 'manage_templates' %}
            <li><a class="dropdown-item" href="/manage-templates">Manage Templates</a></li>
        {% endif %}

        {% if current_page != 'manage_curriculum_templates' %}
            <li><a class="dropdown-item" href="/manage-curriculum-templates">Manage Curriculum Templates</a></li>
        {% endif %}

        {% if current_page != 'manage_temp_files' %}
            <li><a class="dropdown-item" href="/manage-temp-files">Manage Temporary Files</a></li>
        {% endif %}

        {% if current_page != 'submission_history' %}
            <li><a class="dropdown-item" href="/submission-history">Submission History</a></li>
        {% endif %}

        {% if current_page != 'manage_logs' %}
            <li><a class="dropdown-item" href="/manage-logs">Automation Logs</a></li>
        {% endif %}
    </ul>
</li>
